
.profile{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:560px;
    background-image: url('/static/img/2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    background-color: lavender;
    
}

.profile h2{
    color:white;
    position: relative;
    top:35%;
    margin-left: 5%;
}
.profile p{
    position: relative;
    top:38%;
    margin-left: 5%;
}
.left-icons li{
    position: relative;
    left:680px;
    top:500px;
    display:inline-block;
    width: 40px;
    padding: 15px;
   
}
.left-icons li a{
 text-decoration: none;
 padding-left: 10px;
 font-size: 20px;
 color:white;
}
.photo{
    height: 250px;
    width: 250px;
   clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
   background: #021355;
   position: relative;
   top:-18%;
   left:60%;
    }

.photo img{
    height: 100%;
    width: 100%;
    border-color: white;
}

@media(max-width:768px){
    .photo{
        height: 120px;
        width: 120px;
  
    }
    .profile{
        height:500px;
    }
   

    .profile h2{
    font-size:20px;

    }
    .profile p{
    font-size: 10px;
  
    }
    .left-icons li {
    font-size: 18px;
    position: relative;
    left:45px;
    top:440px;
   
    }

}

@media(min-width:769px) and (max-width:950px){
        .photo{
        height: 200px;
        width: 200px;
  
    }
   

    .profile h2{
    font-size:30px;

    }
    .profile p{
    font-size: 20px;
  
    }
    .left-icons{
    font-size: 25px;

    }
    .left-icons li{
    padding-left: 15px;
    
    }      
}