*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.resume h1,h3{
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}
.phone{
    font-size: 10px;
    margin-left: 18px;
}
.email{
    font-size: 10px;
}
.location{
    font-size: 9px;
    margin-left: 70px;
}

#qr {
    width: 60%;
    height: 25%;
    margin-top: 50px;
    margin-left: 70px;
}
#django,#api,#sql{
    font-weight: 500;
    margin-left: 2px;
    font-size: large;
}
.resume h4{
    background-color: teal;
    font-weight: 500;

}
.resume h6{
    background-color:  #c5832b;
}
.resume{
    background-color: black;
    color:white;
    justify-content: space-between;
}
.resume p{
    padding:5px;
}
.education p{
    padding:5px;
}
.verti1,.verti2{
    background-color:white;
    width:1px;
    height:1163px;
}
.verti2{
    position: relative;
    right: 33px;
}
.verti1{
    position: relative;
    left:53px;
}
.profile{
    position: relative;
    right:100px;
}

.education{
    position: relative;
    left:20px;
}

@media (max-width:768px){
    .resume h1{
        font-size: 25px;
      }
      .resume h3{
        font-size: 15px;
      }
    .phone{
        font-size: 4px;
        
    }
    .email{
        font-size: 4px;
        
    }
    .location{
        font-size: 4px;
        margin-left: 0px;
    }
      #qr {
        margin-top: 50px;
        margin-left: 2px;
          width: 95%;
          height: 20%;
         
      }
      #django,#api,#sql{
      
          font-size: 12px;
      }
      .resume h4{
          font-size: 15px;
          
      }
      .resume h6{
          font-size: 8px;
         
      }
      .verti2{
        position: relative;
        right:12px;
    }
    .verti1{
        position: relative;
        left:15px;
    }
    .verti1,.verti2{
      
        width:1px;
        
    }
   
      .resume p{
          font-size: 10px;
          padding:2px;
      }
      .education p{
        font-size:10px; 
        padding:2px;
      }
    
     
      .profile{
      position:relative;
      right:30px;
      }
      .education{
        position: relative;
        left:15px;
       
      }   
      
}
@media(min-width:769px) and (max-width:1000px){
       .profile{
        position:relative;
        right:30px;
        }
        .education{
          position: relative;
          left:15px;
         
        }
        .verti2{
            position: relative;
            right:19px;
        }
        .verti1{
            position: relative;
            left:32px;
        }
        .verti1,.verti2{
          
            width:1px;
            height:1430px;
        }
        .phone{
            font-size: 8px;
        }
        .email{
            font-size: 8px;
        }
        .location{
            font-size: 8px;
        }
}