{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/resume.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="resume">
            <h1>SAGAR KUMAR</h1>
            <h3>SOFTWARE DEVELOPER ENTHUSIAST</h3>
            <br>
            <hr color="white" size="8px">
            <div class="row">
                <div class="col-4 phone fa fa-phone" >
                    +91-9690960267
    
                </div>
                <div class="col-4 email fa fa-envelope">
                    sagar885941@gmail.com  
    
                </div>
                <div class="col-4 location fa fa-map-marker">
                    Saharanpur,UP
    
                </div>
            </div>
            
            <hr color="white" size="8px">
            <div class="row">
                <div class="col-5 education">
                    <h4>EDUCATION</h4>
                    <p><span>United college of engineering & Research,Greater Noida</span><br>B.Tech(Electrical Engineering)<br>2016 - 2020<br>75.2% (I-DIV HONS)</p>
                    <p><span>Kushwaha Army Public School, Saharanpur</span><br>Intermediate <br>2015-2016 <br>57%</p>
                    <p><span>Kushwaha Army Public School, Saharanpur</span><br>High School <br>2013-2014 <br>70.3%</p>
                    <hr color="black" size="4">
                    <h4>WORK EXPERIENCE</h4>
                    <h6>PARAM APPLIANCES PVT. LTD. JAN2022 - AUG2022</h6>
                    <h6>Quality Control Engineer</h6>
                    <p>•Supervision & Review of Inward QC, In-process/Line QC, Final QC & ln  House Quality. <br> •Manpower Allocation according to their Skill Matrix in Quality Improvements. <br> •Poka Yoka methodology to solve problems related to operator/process faults. <br> •Regulating & Monitoring the SOP using check sheet & Pareto Chart. <br> • Maintaining & Reporting to Corporate Quality Head.
                    </p>
                    <h4>CONTACT</h4>
                    <img src="/static/img/contact.png" alt="" id="qr">



                </div>
                <div class="col-1 ">
                    <div class="verti1">

                    </div>
                </div>
                <div class="col-1 ">
                    <div class="verti2">

                    </div>
                </div>
                <div class="col-5 profile">
                    <h4>ABOUT ME</h4>
                    <p>I am a passionate learner who is always willing to learn and work across different technologies and domains. I love to explore new technologies and leverage them to solve real life problems.
                    </p>
                    <hr color="white" size="4px">
                    <h4>SKILLS</h4>
                    <p  class="fa-brands fa-html5">  HTML</p>
                    <br>
                    <p class="fa-brands fa-css3-alt"> CSS</p>
                    <br>
                    <p  class="fa-brands fa-js"> JAVASCRIPT</p>
                    <br>
                    <p i class="fa-brands fa-python">  PYTHON</p>
                    <p id="django">➢ DJANGO</p>
                    <p id="api">➢ DJANGO REST API</p>
                    <p id="sql">➢ SQL</p>
                    <hr color="white" size="4px">
                    <h4>PROJECTS</h4>
                    <h6>GYM WEBSITE</h6>
                    <p>➢ Overview: The project was aimed to build a gym website using python 
                        and Django. <br>➢ Description: In this project I have created gym  website using python and Django store the information to the databases using sql .In this website user can calculate BMI, Admin can properly maintain their
                        record .,delete ,add new record.and good looking GUI. <br>➢ Learning outcomes: I have learnt the real time application of working with python and Django came to know how I can implement our logics into a program.
                    </p>
                    <h6>HOSPITAL APPOINTMENT BOOKING</h6>
                    <p>➢ Overview: The project was aimed to build a hospital appointment booking website using python 
                        and Django. <br>➢ Description: In this project I have created Hospital appointment system using python and Django  store the information to the database using sql .Through this  user can easily book there appointment .Admin can send mail, add ,delete properly maintain there record. <br>➢ Learning outcomes: I have learnt the real time application of working with python and Django came to know how I can implement our logics into a program.</p>
                </div>
            </div>

        </div>
      
    </div>
    
</body>


</html>
{% endblock  %}